/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #F3B7C8;
  --color-green: #48A384;
  --color-dark-green: #087457;
  --color-oatmeal: #FDF8ED;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-dark-gray: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", 'Do Hyeon', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-black);
  padding: 16px;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark-green {
  background-color: var(--color-dark-green);
  padding: 0 8px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  margin-left: 8px;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  font-size: var(--font-regular);
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease;
}

.navbar__menu__item:hover {
  background-color: var(--color-pink);
  box-shadow: 2px 2px 6px 0px rgba(148,145,148,1);
}

.navbar__menu__item.menuItem--white {
  color: white;
}

.navbar__menu__item.menuItem--borderNone {
  box-shadow: none;
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  display: flex;
  text-align: center;
  opacity: 1;
  transition: 0.7s opacity;
}

.home__left {
  display: inline-block;
  background: url('/imgs/girl.jpg') center/cover no-repeat;
  width: 43%;
}

.home__right {
  display: inline-block;
  background-color:var(--color-oatmeal);
  width: 57%;
  padding: 150px 0;
}

.home__right--container {
  text-align: center;
  padding-top: 20px;
  margin-left: 95px;
  max-width: 600px;
}

.home__title {
  color: var(--color-green);
}

.home__icon {
  height: 100px;
  transition: all var(--animation-duration) ease;
}

.home__icon:hover {
  transform: scale(1.1) rotate(-10deg);
}

.home__title--lowercase {
  color: var(--color-dark-gray);
}

.home__description {
  color: var(--color-dark-gray);
}

.home__contact {
  color: var(--color-dark-gray);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-green);
  border-radius: 40px;
  transition: all var(--animation-duration) ease;
}

.home__contact:hover {
  background-color: var(--color-green);
  color: var(--color-black);
}

/* About */
#about {
  background-color: var(--color-green);
}

.about__title,
.about__sub-title {
  color: var(--color-white);
}

.about__strengths {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.strength {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strength__img--container {
  position: relative;
  overflow: hidden;
}

.strength__img {
  width: 260px;
  transition: all var(--animation-duration) ease-in-out;
}

.strength__description {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  transform: translateY(px);
  transition: all var(--animation-duration) ease-in;
}

.strength__img--container:hover .strength__img {
  transform: scale(1.1);
}

.strength__img--container:hover .strength__description {
  background-color: rgba(0, 0, 0, 0.596);
  opacity: 1;
}

.strength__description h3 {
  color: var(--color-orange);
}

.strength__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

.strength__description span {
  font-size: var(--font-micro);
  color: var(--color-white);
}

.strength__btn {
  background-color: var(--color-oatmeal);
  width: 350px;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-dark-gray);
  margin: 24px 0;
  padding: 8px 12px;
  border-radius: 40px;
  transition: all var(--animation-duration) ease;
}

.strength__btn:hover {
  background-color: var(--color-pink);
}


/* Skills */
.skill__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-gray);
}

.major__description {
  font-size: var(--font-small);
}

.acadamy {
  display: flex;
  align-items: center;
}

.academy__logo {
  height: 30px;
}

.academy_description {
  margin: 0 16px;
  text-align: left;
}

.academy__name,
.academy__period {
  color: var(--color-light-gray);
}

.academy__name {
  font-size: var(--font-small);
}

.academy__period {
  font-size: var(--font-micro);
}

/*Work*/
#work {
  background-color: var(--color-green);
}

.work__title,
.work__sub-title {
  color: var(--color-white);
}

.work__categories {
  margin: 40px;
}

.category__btn {
  position: relative;
  background-color: var(--color-oatmeal);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  color: var(--color-gray);
  padding: 8px 48px;
  margin: 2px 0;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-black);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 5px;
}

.category__count {
  display: inline-block;
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  width: 280px;
  height: 280px;
  margin: 2px;
  background-color: var(--color-oatmeal);
  transition: transform 300ms ease-in-out;
  overflow: hidden;
}

.project.invisible {
  display: none;
}

.project__img--horizontal {
  height: 70%;
  transform: translateY(25%);
}

.project__img--vertical {
  height: 90%;
  transform: translateY(5%);
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}


/* Contact */
#contact {
  background-color: var(--color-pink);
}

.contact__title,
.contact__email {
  color: var(--color-white);
}

.contact__rights {
  font-size: var(--font-micro);
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  transition: all 100ms ease-in;
}

/* Scroll */
.arrow {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 50px;
  right: 20px;
  background-color: var(--color-dark-green);
  border-radius: 50%;
  font-size: 50px;
  color: var(--color-white);
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.arrow--visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 1150px) {
  .about__strengths {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
  }

  .strength__img {
    flex-grow: 1;
  }
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .section {
    padding-top: 50px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-green);
  }

  #navbar.navbar--dark-green {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu__item {
    color: var(--color-white);
  }

  .navbar__menu__item:hover {
    box-shadow: none;
  }

  .navbar__menu--visible {
    display: block;
  }

  .navbar__toggle-btn {
    display: block;
    position: fixed;
    top: 17px;
    right: 17px;
    font-size: var(--font-medium);
  }
  
  .home__left {
    display: none;
  }
  
  .home__right {
    width: 100%;
    padding: 110px 0 100px 0;
  }
  
  .home__right--container {
    margin: auto;
  }

  .home__title {
    font-size: var(--font-large);
  }

  .about__strengths {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
  }

  .strength__img {
    flex-grow: 1;
  }

  .strength__btn {
    width: 280px;
    margin: 12px 0 30px 0;
    padding: 4px 6px;
  }

  .strength__btn--colorful {
    margin: 12px 0;
  }

  .skill__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .work__categories {
    margin: 40px 0;
  }

  .category__btn {
    display: inline-block;
    width: 100%;
  }

  .category__count {
    right: 36px;
  }

  .project {
    flex-grow: 1;
  }

  .project__img--horizontal {
    height: 50%;
    transform: translateY(50%);
  }

  #contact.section {
    padding: 16px;
  }

  .arrow {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    bottom: 16px;
    right: 16px;
  }
}